body{
    text-align:center;
    font-family:Arial;
    background:#eef6ff;
}


.card{
    background:white;
    width:400px;
    margin:40px auto;
    padding:25px;
    border-radius:20px;
}


button{

padding:12px;
margin:5px;
border-radius:10px;
cursor:pointer;

}